Bluemix node red.json
[{"id":"a5d70c43.08f6b","type":"ibmiot out","z":"121ef23c.a5a50e","authentication":"apiKey","apiKey":"c5beec38.28487","outputType":"cmd","deviceId":"BBB1","deviceType":"Beaglebone","eventCommandType":"led","format":"json","data":"0","qos":0,"name":"IBM IoT","service":"registered","x":774.9999847412109,"y":186,"wires":[]},{"id":"abf7e896.ee7cd8","type":"inject","z":"121ef23c.a5a50e","name":"","topic":"","payload":"Turn on LED ","payloadType":"str","repeat":"","crontab":"","once":false,"x":243,"y":206,"wires":[["a5d70c43.08f6b","a171b7a9.a16b78"]]},{"id":"a171b7a9.a16b78","type":"debug","z":"121ef23c.a5a50e","name":"Output debug 1","active":true,"console":"false","complete":"payload","x":797.9999847412109,"y":283,"wires":[]},{"id":"12e06cd6.896933","type":"inject","z":"121ef23c.a5a50e","name":"","topic":"","payload":"Turn off LED ","payloadType":"str","repeat":"","crontab":"","once":false,"x":217,"y":386,"wires":[["a5d70c43.08f6b","1d95c587.a6528a"]]},{"id":"71126cb9.d2c304","type":"e-mail in","z":"121ef23c.a5a50e","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","repeat":"30","x":215.8402862548828,"y":71.04861450195312,"wires":[["d5611125.6febe","a5d70c43.08f6b"]]},{"id":"d5611125.6febe","type":"debug","z":"121ef23c.a5a50e","name":"EMAIL OUT","active":true,"console":"false","complete":"payload","x":776.8402557373047,"y":73.45486450195312,"wires":[]},{"id":"1d95c587.a6528a","type":"debug","z":"121ef23c.a5a50e","name":"output debug 2","active":true,"console":"false","complete":"payload","x":801.8298797607422,"y":360.451416015625,"wires":[]},{"id":"a0723894.e59108","type":"inject","z":"121ef23c.a5a50e","name":"invalid command","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":206.390625,"y":488.20703125,"wires":[["a5d70c43.08f6b"]]},{"id":"c5beec38.28487","type":"ibmiot","z":"","name":"Node red","keepalive":"60","cleansession":true,"appId":"","shared":false}]